@charset "UTF-8";
/* *********************************************
Project =====
FileName ====
Author ====== name
Date ======== 2018-11-13
Last ========
********************************************* */


/* --------------------------------------------
 * 독립창
/* ------------------------------------------ */
.page-child .page-content-wrapper .page-content { margin-right:0px; margin-left:0px }
.page-child .page-content-wrapper .page-content .contentWrapper { height:calc(100vh - 126px);}
.page-child .page-content-wrapper .page-content .reading-wrapper { width:100%; height:100%; margin-bottom:-6px; }

.page-child .page-header.navbar { background:#3a8cf3; height:46px; min-height:46px; }
.page-child .page-header.navbar .page-logo { height:46px; line-height:46px; }
.page-child .page-header .page-header-inner #nav li { border-right:1px solid #09b3f5; }
.page-child .page-header .page-header-inner #nav li a:hover,
.page-child .page-header .page-header-inner #nav li a.active { background-color:#3583e5; }
.page-child .page-header .page-header-inner #nav { border-left:1px solid #09b3f5; }
.page-child .page-header.navbar .page-logo { margin:0px 20px 0 20px; width:auto !important; }
.page-child .page-header.navbar .top-menu { height:40px; line-height:40px; }
.page-child .page-header.navbar .top-menu .navbar-nav { margin:6px 20px 0px 0px; height:34px; line-height:34px; }
.page-child .page-logo-text { font-size:16px; }

.page-child .page-footer {height: 80px;}
.page-child .page-footer .page-footer-inner .page-footer-logo {margin-top:0px;}

.page-child #nav .dropdown-menu { background-color:#3583e5 !important; }
.page-child #nav .dropdown-menu li a:hover,
.page-child #nav .dropdown-menu li a.active { background-color:#212529 !important; }
.page-child #nav .dropdown-menu > li:hover > a,
.page-child #nav .dropdown-menu > li.active > a,
.page-child #nav .dropdown-menu > li.active:hover > a { background-color: #212529; color: #fff; }

.page-child .page-sidebar-wrapper {border-right: 1px solid #b8bfc6;}

.menu-toggler.sidebar-toggler a { position:absolute; top:50%; z-index:3; }
.menu-toggler {opacity:10;}
.menu-toggler.sidebar-toggler a {display:block;width:30px;height:60px;background:url(../../com/img/common/btn/btn_left_map.png) no-repeat;font-size:0;text-indent:-9999em;left:460px; }
.menu-toggler.sidebar-toggler a.active {background-position:0 -60px;left:0px;}

body.page-child.page-sidebar-closed { background:#ffffff; }
.page-child.page-sidebar-closed .page-content-wrapper .page-content { margin-left:0px !important; }
.page-child.page-sidebar-closed .page-sidebar { width:0px !important; }
.page-child.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed { width:0px !important; margin-top:0px !important; }
.page-child .page-sidebar { width:460px; }
.page-child .page-sidebar .page-sidebar-menu .heading { display:inline-block; padding:17px 15px 0px 15px; width:100%; }
.page-child .page-sidebar .page-sidebar-menu .left-item { display:inline-block; padding:0px 15px; width:100%; }
.page-child .page-sidebar .page-sidebar-menu-closed .left-item { display:none !important; }
.page-child .page-sidebar .page-sidebar-menu .bottom-item { display:inline-block; padding:0px 15px; width:100%; }
.page-child .page-sidebar .page-sidebar-menu-closed .bottom-item { display:none !important; }

.page-child .page-content .reading-wrapper { position:relative; }
.page-child .page-content .reading-wrapper .map-control { position:absolute; top:20px; left:20px; z-index:2; }
.page-child .page-content .reading-wrapper .reading-wrapper-content { position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:1; }

.page-child.page-window-popup, .page-child.page-window-popup .contentWrapper {min-width:auto !important;}
.page-child.page-window-popup .page-content-wrapper .page-content { margin-right:0px; margin-left:0px }
.page-child.page-window-popup .page-content-wrapper .page-content .contentWrapper { height:calc(100vh - 126px);}
.page-child.page-window-popup .page-content-wrapper .page-content .reading-wrapper { width:100%; height:100%; margin-bottom:-6px; }


/* --------------------------------------------
 * 윈도우 팝업
/* ------------------------------------------ */
.page-child.page-window-popup {overflow-y: auto;}
.page-child.page-window-popup, .page-child.page-window-popup .contentWrapper {min-width:auto !important;}
.page-child.page-window-popup .page-content-wrapper .page-content { margin-right:0px; margin-left:0px; min-height: auto; overflow-y: auto;} /*20210429수정*/
.page-child.page-window-popup .page-content-wrapper .page-content .contentWrapper { height:auto; padding: 20px;}/*20210429수정*/
.page-child.page-window-popup .page-content-wrapper .page-content .contentWrapper.no-header { height:calc(100vh); padding: 20px;}
.page-child.page-window-popup .page-content-wrapper .page-content .contentWrapper .contentsRow {margin-bottom: 20px;}
.page-child.page-window-popup .page-content-wrapper .page-content .reading-wrapper { width:100%; height:100%; margin-bottom:-6px; }
.page-child.page-window-popup .page-header.navbar .page-logo .page-logo-text {color:#fff; margin-left: 0px; padding-top:0px; }
.page-child.page-window-popup .page-header.navbar {
    background-color:#00a2ff;
    background-image: linear-gradient(141deg, #114672 0%, #008ac4 51%, #00a2ff 75%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


/* --------------------------------------------
 * 대시보드 팝업
/* ------------------------------------------ */
.page-dashboard {

}
.page-child.page-window-popup.page-dashboard .page-content-wrapper .page-content {
	overflow-y: hidden;
}


/* ====================================================================================================================
 * 건설사고 통계 분석
 * ====================================================================================================================*/

.page-child.page-window-popup.page-statement {
    min-width: 1200px !important;
}
.page-child.page-window-popup.page-statement .form-inline .form-group {
    display: inline-table;
}
